*{
    margin: 0;
}


div {
    border: 4px dotted rgb(255, 0, 128);
    width: fit-content;
    font-size: 24px;

    /* padding-top: 10px; */
    /* padding-right: 20px; */
    /* padding-bottom: 30px; */
    /* padding-left: 40px; */

    /* shorthand */
    /* 1 valor = mesmo valor pra todos s lados. */
     padding: 20px; 

    /* 2 valores = primeiro top e bottom / segundo right e left */
    padding: 30px 50px; 

    /* 3 valores = 1 left / 2 top e bottom */
    padding: 20px 50px 5px;

    /*  4 valores 1 top/ 2 right / 3 bottom- 4 letf */
    padding: 30px 50px 5px;

    /*  propiedades extras */
    padding-inline: 40px;
    padding-block: 20px;
}
h1 {
    border: 1px solid red ;
    margin-bottom: 20px;
  
}
.algum {
    margin-bottom: 100px;
}

.último {
    margin-top: 50px;
}

.outro {
    margin-inline:auto ;
}
